.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hor {
  flex-direction: row;
  justify-content: space-around;
}

.vert {
  flex-direction: column;
  align-items: start;
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 10px 30px 60px 30px;
}

.hidden {
  visibility: hidden;
}
.avgDisp {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0px 20px 0px;
}

body {
  font-family: "Open Sans";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div h3 {
  margin: 20px auto;
  font-size: larger;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-container {
  width: 500px;
  height: 350px;
  margin: 30px auto;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 20px 10px;
  border-radius: 5px;
}

.input-box {
  border: none;
  outline: none;
  position: relative;
  margin: 0 10px 20px 10px;
  padding: 0;
  box-sizing: border-box;
}

.input-box label {
  margin: 0 10px;
}

.input-box input {
  border: none;
  outline: none;
  padding: 5px 5px 8px 0px;
  width: 90%;
  font-size: 16px;
  border-bottom: solid 1px #efefef;
}

.btn {
  margin: 10px 30px;
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgb(249, 250, 251);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus-visible {
  box-shadow: none;
}

#canvas_div {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.avgDisp {
  width: 100%;
  margin: 10px auto;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 30px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  text-align: center;
}

#canvas_div canvas {
  margin: 40px auto;
}
